# setup  
I started my postgres container with the following: ```docker run -it --rm   -e POSTGRES_USER="root"   -e POSTGRES_PASSWORD="root"   -e POSTGRES_DB="ny_taxi"   -v ny_taxi_postgres_data:/var/lib/postgresql   -p 5434:5432 postgres:18-alpine```

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import os
import time

pd.options.display.max_columns = 999

In [2]:
engine = create_engine(f'postgresql://root:root@localhost:5434/ny_taxi')

In [3]:
df_zones = pd.read_csv('/home/jeff/Downloads/taxi_zone_lookup.csv')
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [4]:
df_trips = pd.read_parquet('/home/jeff/Downloads/green_tripdata_2025-11.parquet')
df_trips.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,1.00,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,1.00,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.0
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,1.00,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.0
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.7,1.00,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.0
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.4,3.75,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.0

In [5]:
con = engine.connect()

df_zones.to_sql('zones_dim', con=engine, index=False, if_exists='replace')

df_trips.to_sql('trips_ft', con=engine, index=False, if_exists='replace')

con.commit()

# question 1  
Q: Run docker with the python:3.13 image. Use an entrypoint bash to interact with the container.

What's the version of pip in the image?  
A: 
```
root@f4730d9c7a41:/# pip --version
pip 25.3 from /usr/local/lib/python3.13/site-packages/pip (python 3.13)
```

# question 2  
Q: Given the following docker-compose.yaml, what is the hostname and port that pgadmin should use to connect to the postgres database?  
```
services:
  db:
    container_name: postgres
    image: postgres:17-alpine
    environment:
      POSTGRES_USER: 'postgres'
      POSTGRES_PASSWORD: 'postgres'
      POSTGRES_DB: 'ny_taxi'
    ports:
      - '5433:5432'
    volumes:
      - vol-pgdata:/var/lib/postgresql/data

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4:latest
    environment:
      PGADMIN_DEFAULT_EMAIL: "pgadmin@pgadmin.com"
      PGADMIN_DEFAULT_PASSWORD: "pgadmin"
    ports:
      - "8080:80"
    volumes:
      - vol-pgadmin_data:/var/lib/pgadmin

volumes:
  vol-pgdata:
    name: vol-pgdata
  vol-pgadmin_data:
    name: vol-pgadmin_data
```
A: **db:5432**

# question 3  
Q: For the trips in November 2025 (lpep_pickup_datetime between '2025-11-01' and '2025-12-01', exclusive of the upper bound), how many trips had a trip_distance of less than or equal to 1 mile?  
A: **8007**

In [6]:
sql_text = """
select 
    count(1) as n_rows
from trips_FT
where 
    trip_distance <= 1
    and lpep_pickup_datetime >='2025-11-01' and lpep_pickup_datetime < '2025-12-01'
"""

pd.read_sql(sql_text, con=engine)

   n_rows
0    8007

# question 4  
Q: Which was the pick up day with the longest trip distance? Only consider trips with trip_distance less than 100 miles (to exclude data errors).  
A: **2025-11-14** is in row 1 of the sorted results.  88.03 miles.

In [7]:
sql_text = """
select 
    lpep_pickup_datetime,
    trip_distance
from trips_ft
where trip_distance <= 100
order by trip_distance desc
limit 10
"""

pd.read_sql(sql_text, con=engine)

  lpep_pickup_datetime  trip_distance
0  2025-11-14 15:36:27          88.03
1  2025-11-20 12:28:02          73.84
2  2025-11-23 10:12:18          45.26
3  2025-11-22 02:07:07          40.16
4  2025-11-15 14:12:35          39.81
5  2025-11-22 19:15:46          39.47
6  2025-11-11 13:42:50          39.00
7  2025-11-19 22:19:38          38.68
8  2025-11-16 19:45:23          37.67
9  2025-11-10 02:36:03          36.46

# question 5  
Q: Which was the pickup zone with the largest total_amount (sum of all trips) on November 18th, 2025?  
A: **East Harlem North** is the pickup zone in row 1 of the sorted results

In [8]:
sql_text = """
with a as (select 
    "PULocationID",
    sum(total_amount) as total_amount
from trips_ft
where cast(lpep_pickup_datetime as date) = '2025-11-18'
group by "PULocationID"
)
select 
    a.*,
    z."Zone"
from a 
left join zones_dim as z on z."LocationID" = a."PULocationID"
order by a.total_amount desc 
limit 10

"""
pd.read_sql(sql_text, con=engine)

   PULocationID  total_amount                         Zone
0            74       9281.92            East Harlem North
1            75       6696.13            East Harlem South
2            43       2378.79                 Central Park
3           244       2139.05     Washington Heights South
4           166       2100.59          Morningside Heights
5           130       1998.11                      Jamaica
6            97       1780.41                  Fort Greene
7            65       1499.02  Downtown Brooklyn/MetroTech
8            95       1423.75                 Forest Hills
9            82       1251.82                     Elmhurst

# question 6  
Q: For the passengers picked up in the zone named "East Harlem North" in November 2025, which was the drop off zone that had the largest tip?  
A: **East Harlem North** is the dropoff zone in row 1 of the sorted results

In [9]:
sql_text = """
select 
    t.*,
    z1."Zone" as pickup_zone,
    z2."Zone" as dropoff_zone
from trips_ft as t
left join zones_dim as z1 on z1."LocationID" = t."PULocationID"
left join zones_dim as z2 on z2."LocationID" = t."PULocationID"
where 
    z1."Zone" = 'East Harlem North'
    and cast(t.lpep_pickup_datetime as date) between '2025-11-01' and '2025-11-30'
order by t.tip_amount desc
limit 10
"""
pd.read_sql(sql_text, con=engine)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee,pickup_zone,dropoff_zone
0,2,2025-11-30 16:30:27,2025-11-30 16:41:29,N,1.0,74,263,1.0,2.63,14.2,0.0,0.5,81.89,0.00,None,1.0,100.34,1.0,1.0,2.75,0.00,East Harlem North,East Harlem North
1,2,2025-11-23 13:35:27,2025-11-23 13:48:25,N,1.0,74,138,1.0,6.79,27.5,5.0,0.5,50.00,6.94,None,1.0,90.94,1.0,1.0,0.00,0.00,East Harlem North,East Harlem North
2,2,2025-11-29 01:44:21,2025-11-29 01:44:31,N,1.0,74,74,2.0,0.00,3.0,1.0,0.5,45.00,0.00,None,1.0,50.50,1.0,1.0,0.00,0.00,East Harlem North,East Harlem North
3,2,2025-11-24 08:36:03,2025-11-24 09:03:38,N,1.0,74,146,1.0,4.63,27.5,0.0,0.5,34.25,108.00,None,1.0,171.25,1.0,1.0,0.00,0.00,East Harlem North,East Harlem North
4,2,2025-11-15 12:49:08,2025-11-15 13:25:35,N,4.0,74,265,2.0,25.74,143.0,0.0,0.5,28.90,0.00,None,1.0,173.40,1.0,1.0,0.00,0.00,East Harlem North,East Harlem North
5,2,2025-11-29 01:06:20,2025-11-29 01:06:23,N,1.0,74,74,1.0,0.09,3.0,1.0,0.5,26.00,0.00,None,1.0,31.50,1.0,1.0,0.00,0.00,East Harlem North,East Harlem North
6,2,2025-11-09 10:39:13,2025-11-09 11:04:39,N,2.0,74,132,2.0,16.97,70.0,0.0,0.5,23.53,6.94,None,1.0,101.97,1.0,1.0,0.00,0.00,East Harlem North,East Harlem North
7,2,2025-11-10 09:00:04,2025-11-10 09:17:19,N,1.0,74,75,1.0,1.64,16.3,0.0,0.5,20.00,0.00,None,1.0,37.80,1.0,1.0,0.00,0.00,East Harlem North,East Harlem North
8,2,2025-11-13 14:24:24,2025-11-13 14:31:22,N,1.0,74,75,1.0,1.18,8.6,0.0,0.5,20.00,0.00,None,1.0,30.10,1.0,1.0,0.00,0.00,East Harlem North,East Harlem North
9,2,2025-11-06 13:31:03,2025-11-06 14:21:47,N,3.0,74,1,1.0,22.63,111.2,0.0,0.0,20.00,14.06,None,1.0,147.01,1.0,1.0,0.00,0.75,East Harlem North,East Harlem North